@import "../app/utilities/variables";

.app-header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: $primary-color;
    color: #fff;
    height: 80px;
    font-size: 26px;
    .app-header-title {
        padding: 10px;
    };
    .app-header-title-line {
        border: 1px solid $secondary-color;
        width: 30%;
        margin: 10px auto;
    }
}

@media (min-width: 1200px) {
    .app-header {
        font-size: 36px;
    }
}
