<div class="app-content">
  <mat-card class="app-content-card">
    <mat-card-title>
      <p>Formly - exercises' list</p>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" class="app-row">
        <div fxFlex="40%" fxLayoutAlign="end">
          <button mat-raised-button class="app-primary-btn" routerLink="../formly/exerciseOne"
            routerLinkActive="active">Exercise one </button>
        </div>
        <div fxFlex="60%" fxLayoutAlign="start" class="app-list-item">
          <p>Exercise one - custom wrraper, e.g how to use Angular Material Card Component as wrraper in Formly</p>
        </div>
      </div>
      <div fxLayout="row" class="app-row">
        <div fxFlex="40%" fxLayoutAlign="end">
          <button mat-raised-button class="app-primary-btn" routerLink="../formly/exerciseTwo"
            routerLinkActive="active">Exercise two </button>
        </div>
        <div fxFlex="60%" fxLayoutAlign="start" class="app-list-item">
          <p>Exercise two - simple form with default values</p>
        </div>
      </div>
      <div fxLayout="row" class="app-row">
        <div fxFlex="40%" fxLayoutAlign="end">
          <button mat-raised-button class="app-primary-btn" routerLink="../formly/exerciseThree"
            routerLinkActive="active">Exercise three </button>
        </div>
        <div fxFlex="60%" fxLayoutAlign="start" class="app-list-item">
          <p>Exercise three - validations (build-in, custom, async validation), paterns, descriptions</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="app-content-card">
    <mat-card-title>
      <p>Reactive forms - exercises' list</p>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" class="app-row">
        <div fxFlex="40%" fxLayoutAlign="end">
          <button mat-raised-button class="app-primary-btn" routerLink="../reactivForms/exerciseOne"
            routerLinkActive="active">Exercise one </button>
        </div>
        <div fxFlex="60%" fxLayoutAlign="start" class="app-list-item">
          <p>Exercise one</p>
        </div>
      </div>
      <div fxLayout="row" class="app-row">
        <div fxFlex="40%" fxLayoutAlign="end">
          <button mat-raised-button class="app-primary-btn" routerLink="../reactivForms/exerciseTwo"
            routerLinkActive="active">Exercise Two </button>
        </div>
        <div fxFlex="60%" fxLayoutAlign="start" class="app-list-item">
          <p>Exercise two</p>
        </div>
      </div>
      <div fxLayout="row" class="app-row">
          <div fxFlex="40%" fxLayoutAlign="end">
            <button mat-raised-button class="app-primary-btn" routerLink="../reactivForms/exerciseThree"
              routerLinkActive="active">Exercise Three </button>
          </div>
          <div fxFlex="60%" fxLayoutAlign="start" class="app-list-item">
            <p>Exercise three</p>
          </div>
        </div>
    </mat-card-content>
  </mat-card>
</div>