<div class="app-content">
  <mat-card class="app-content-card">
    <mat-card-title>
      <p>Exercises list</p>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlex="40%" fxLayoutAlign="end">
          <button mat-raised-button class="app-primary-btn" routerLink="../exerciseOne"
            routerLinkActive="active">Exercise one </button>
        </div>
        <div fxFlex="60%" fxLayoutAlign="start" class="app-list-item">
          <p>Exercise one - simple form with default values, validations, patterns</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>