// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

@include mat-core();

// Available color palettes: https://material.io/design/color/
$www-primary: mat-palette($mat-grey);
$www-accent: mat-palette($mat-blue-gray, 900);

// The warn palette is optional (defaults to red).
$www-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$www-theme: mat-light-theme($www-primary, $www-accent, $www-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($www-theme);

$roboto: mat-typography-config($font-family: 'Roboto');
@include mat-select-typography($roboto);

@import "./app/utilities/variables";

html, body { height: 100%; }
body {
    margin: 0;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    text-align: center;
    font-size: $font-size;
}

.app-content {
    margin-top: 90px;
    padding: 5px;
    .app-content-card {
        width: 70%;
        margin: 5px auto;
    }
}

.app-row {
    margin-bottom: 10px;
}

.app-primary-btn {
    background-color: $secondary-color;
    color: #fff;
}

.app-secondary-btn {
    background-color: $primary-color;
    color: #fff;
}


.app-back-to-list-btn {
    margin-left: 100px
}

.app-list-item {
    margin-left: 10px;
}

.app-section-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $secondary-color;
}

// overwritte anuglar matieral style
.mat-card {
    color: $primary-color !important; 
}

.mat-card-content {
    padding: 0 40px !important; 
}
