// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

@include mat-core();

// Available color palettes: https://material.io/design/color/
$www-primary: mat-palette($mat-grey);
$www-accent: mat-palette($mat-blue-gray, 900);

// The warn palette is optional (defaults to red).
$www-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$www-theme: mat-light-theme($www-primary, $www-accent, $www-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($www-theme);

$roboto: mat-typography-config($font-family: 'Roboto');
@include mat-select-typography($roboto);

@import "./app/utilities/variables";

html, body { height: 100%; }
body {
    margin: 0;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    text-align: center;
    font-size: $font-size;
}

.app-content {
    margin-top: 90px;
    padding: 5px;
    .app-content-card {
        width: 70%;
        margin: 5px auto;
    }
}

.app-row {
    margin-bottom: 10px;
}

.app-primary-btn {
    background-color: $secondary-color;
    color: #fff;
}

.app-secondary-btn {
    background-color: $primary-color;
    color: #fff;
}


.app-back-to-list-btn {
    margin-left: 100px
}

.app-list-item {
    margin-left: 10px;
}

.app-section-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $secondary-color;
}

// img radio
.app-radio-selector {
    margin:5px;
}
.app-radio-selector input{
    margin:0px;
    padding:0px;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.app-radio-selector input:active +.app-selector-card{opacity: .9;}
.app-radio-selector input:checked {
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.app-selector-card{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100%;
    height: 110px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.2) grayscale(1) opacity(.8);
       -moz-filter: brightness(1.2) grayscale(1) opacity(.8);
            filter: brightness(1.2) grayscale(1) opacity(.8);
}
.app-selector-card:hover{
    -webkit-filter: brightness(1.1) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.1) grayscale(.5) opacity(.9);
            filter: brightness(1.1) grayscale(.5) opacity(.9);
}

.shoppings-img {
    background-image:url('https://cdn.pixabay.com/photo/2017/12/26/09/15/woman-3040029_960_720.jpg');
}

.services-img {
    background-image:url('https://cdn.pixabay.com/photo/2017/03/22/17/37/barber-2165745_960_720.jpg');
}

.app-label {
    color: $label-color;
}

.app-radio-label {
    color: #e37e1d;
    margin:5px;
    border-bottom: 1px solid;
}


// overwritte anuglar matieral style
.mat-card {
    color: $primary-color !important; 
}

.mat-card-content {
    padding: 0 40px !important; 
}

.mat-card-title {
    color: $secondary-color !important;
}

.mat-checkbox-layout {
    white-space: normal !important; 
}

.mat-hint {
    color: $secondary-color !important;
    text-align: left;
}


@media (min-width: 992px) { 
    .app-selector-card{
        height: 200px;
    }
}