<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="app-content">
    <button mat-raised-button routerLink="../../home" routerLinkActive="active" fxLayoutAlign="">Back to list
    </button>
    <mat-card class="app-content-card">
      <mat-card-title>
        <span>Order Identification - Reactive Forms</span>
      </mat-card-title>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <button type="submit" mat-raised-button class="app-primary-btn">Submit</button>
</form>